/node_modules
/public/hot
/public/storage
# /public/css
# /public/js
/storage/*.key
/vendor
.env
.env.backup
.idea
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
README.md
yarn-error.log
yarn.lock